<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Brayan Duran Velasquez">
    <meta name="revised" content="06/12/2020">
    <link rel="stylesheet" href="./semantic-ui/css/semantic.min.css">
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/font/font.css">
    <script src="./jquery/jquery-3.3.1.slim.min.js"></script>
    <script src="./semantic-ui/js/semantic.min.js"></script>
    <title> <%= titulo %> </title>
</head>