    <nav class="menu-responsive menu-fixed">
        <div class="ui menu" style="background: transparent">
            <div class="ui item borderless" style="color: white; font-size: 18px; font-weight: bold">CensaHogar</div>

            <div class="menu right">
                <a href="/inicio" class="item" style="color: white; font-size: 16px;">Inicio</a>
                <a href="/perfil" class="item" style="color: white; font-size: 16px;">Perfil</a>
                <a href="/registro" class="item" style="color: white; font-size: 16px;">Registro</a>
                <div class="item active" style="color: white; font-size: 16px;">Registrar Familia</div>
                <a href="/comunidad" class="item" style="color: white; font-size: 16px;">Comunidad</a>
                <a class="item btnCerrar" style="color: white; font-size: 16px;">Cerrar Sesion</a>
            </div>
        </div>
    </nav>

    <aside class="menu-aside menu-fixed">
        <div class="ui menu " style="background: transparent">
            <div class="ui item borderless" style="color: white; font-size: 18px; font-weight: bold">CensaHogar</div>

            <div class="menu right">
                <a class="ui item" id="abrir"> <i class="ui icon bars"></i></a>
            </div>

            <div class="ui sidebar right vertical menu uncover left">
                <a href="/inicio" class="item"> <i class="ui icon home"></i> Inicio</a>
                <a href="/perfil" class="item"> <i class="ui icon user"></i> Perfil</a>
                <a href="/registro" class="item"> <i class="ui icon book"></i> Registro</a>
                <div class="item active"> <i class="ui icon add"></i> Registrar Familia</div>
                <a href="/comunidad" class="item"> <i class="ui icon building"></i> Comunidad</a>
                <br>
                <div class="flex-center">
                    <a class="ui button red btnCerrar">Cerrar Sesion</a>
                </div>
                <div class="pusher"></div>
            </div>
        </div>
    </aside>